<nav class="menu">
  <ul class="menu__list">
  {%- for nav in collections.nav | sort(attribute="date") -%}
    <li class="menu__item">
      <a class="menu__link" href="{{ nav.url | url }}"{% if nav.url == page.url %} data-current="current item"{% endif %}>{{ nav.data.navtitle }}</a>
    </li>
  {%- endfor -%}
  </ul>
</nav>
