<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

  {% include "components/head.njk" %}

  <body class="site">

    <header class="site__header">
      <em class="site__title">
        <a class="site__link" href="{{ '/' | url }}">
          <img src="/_includes/assets/img/logo.svg" />
        </a>
      </em>
      {% include "components/nav.njk" %}
    </header>

    <main class="site__content">
      {{ layoutContent | safe }}
    </main>

    {% include "components/footer.njk" %}

  </body>

</html>
