<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

  {% include "components/head.njk" %}

  <body class="site">

    <header class="site__header">
      <em class="site__title">
        <a href="{{ '/' | url }}">{{ metadata.title }}</a>
      </em>
      {% include "components/nav.njk" %}
    </header>

    <main class="site__main">
      {{ layoutContent | safe }}
    </main>

    {% include "components/footer.njk" %}

  </body>

</html>
